html {
    scroll-behavior: smooth;
    height: 5000px;
}

body {
    margin: 0;
    padding: 0;
    height: 5000px;
    overflow: auto;
    box-sizing: border-box;
}


.parallax {
    background-image: url("fundomain.png");
    min-height: 1007px;
    border: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

       /* GO TOP BUTTON */

#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    left: 1170px;
    width: 150px;
    z-index: 99;
    transform:rotate(90deg);
    border: none;
    outline: none;
    background-color: white;
    color: #000;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: rgb(202, 202, 202);
}


          /* SCROLL BUTTON DOWN */






                /* ABOUT */

#about {
    height: 800px;
    background-color: rgb(0, 0, 0);

}

.aboutmetitle {
    padding-top: 150px;
    margin: 0;
    color: white;
    margin-left:140px;
    font-size: 80px;
    font-family: aboutmetitle;
    font-weight: lighter;
    line-height: 90px;
}

.aboutmesubtitle {
    line-height: 70px;
    font-family: aboutmetitle;
    font-weight: lighter;
    margin: 0;
    color: white;
    margin-left: 140px;
    font-size: 100px;

}


.aboutmetext {
    color: white;
    padding-top: 100px;
    margin-left: 150px;
    margin-right: 600px;
    font-size: 20px;
}

        /* ABOUT FONT */

@font-face {
    font-family: aboutmetitle;
    src: url(GrandeuxSerif.otf);
}

         /* SKILLS */
@font-face {
    font-family: skillstitle;
    src: url(Akira.otf);
}


#skills {
    position: absolute;
    top: 1750px;
    height: 730px;
    width:100%;
    background-color: #151721;
    
}

.skillstitle {
    padding-top: 90px;
    margin: 0;
    color: #6274da;
    margin-left: 140px;
    font-size: 60px;
    font-family: skillstitle;
    line-height: 90px;
}

.container {
    margin-left: 145px;
    margin-right: 500px;
    background-color: #ddd;
    height: 25px;
    margin-top: 45px;
    border-radius: 5px 5px 5px 5px;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.skillshtml {
    position: absolute;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    top: 219px;
    left: 160px;
}

.skillscss {
    position: absolute;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    top: 289px;
    left: 160px;
}

.skillsjs {
    position: absolute;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    top: 359px;
    left: 160px;

}

.html {
    width: 90%;
    background-color: #f06529;
    height: 5px;
    border-radius: 5px 0px 0px 5px;

}

.htmlprct {
    position: absolute;
    top: 214px;
    left: 570px;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
    color: white;
}

.css {
    width: 70%;
    background-color: #2965f1;
    height: 5px;
    border-radius: 5px 0px 0px 5px;

}

.cssprct {
    position: absolute;
    top: 284px;
    left: 470px;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
    color: white;
}

.js {
    width: 10%;
    background-color: #F0DB4F;
    height: 5px;
    border-radius: 5px 0px 0px 5px;

}

.jsprct {
    position: absolute;
    top: 354px;
    left: 255px;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
    color: rgb(61, 61, 61);
}



            /* NAVBAR  */
.nav  {
   overflow: hidden;
   background-color: transparent;

}

.nav a {
    margin-right: 40px;
    margin-top: 35px;
    margin-left:10px;
    float: right;
    color: white;
    text-align: center;
    padding: 7px 0px;
    text-decoration: none;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}

.nav a:hover {
    color: #ffaf03;
}

.nav a {
    border-bottom: 2px solid transparent;
    border-bottom-width: 0%;

}


.nav a:hover {
    border-bottom: 2px solid #ffaf03;
    border-bottom-width: 100%;
    
}

.menulogo img {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 100px;
    width: 350px;
}

