html {
    scroll-behavior: smooth;
    height: 5000px;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
    height: 5000px;
    overflow: auto;
    box-sizing: border-box;
}


.parallax {
    background-image: url("fundomain.png");
    min-height: 1007px;
    border: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

       /* GO TOP BUTTON */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right:30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: white;
    color: #000;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: rgb(202, 202, 202);
}

            /* ABOUT */

#about {
    height: 740px;
    background-color: rgb(0, 0, 0);

}

        /* ABOUT FONT */

@font-face {
    font-family: aboutmetitle;
    src: url(GrandeuxSerif.otf);
}


.aboutmetitle {
    padding-top: 150px;
    margin: 0;
    color: white;
    margin-left:140px;
    font-size: 80px;
    font-family: aboutmetitle;
    font-weight: lighter;
    line-height: 90px;
}

.aboutmesubtitle {
    line-height: 70px;
    font-family: aboutmetitle;
    font-weight: lighter;
    margin: 0;
    color: white;
    margin-left: 140px;
    font-size: 100px;

}


.aboutmetext {
    color: white;
    padding-top: 100px;
    margin-left: 150px;
    margin-right: 600px;
    font-size: 20px;
}

            /* NAVBAR  */
.nav  {
   overflow: hidden;
   background-color: transparent;

}

.nav a {
    margin-right: 40px;
    margin-top: 35px;
    margin-left:10px;
    float: right;
    color: white;
    text-align: center;
    padding: 7px 0px;
    text-decoration: none;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}

.nav a:hover {
    color: #ffaf03;
}

.nav a {
    border-bottom: 2px solid transparent;
    border-bottom-width: 0%;

}


.nav a:hover {
    border-bottom: 2px solid #ffaf03;
    border-bottom-width: 100%;
    
}

.menulogo img {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 100px;
    width: 350px;
}
